<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navbar</title>
    <link rel="stylesheet" href="./../style.css">
    <link rel="stylesheet" href="navbar.css">
</head>

<body>
    <header class="header">
        <div class="header-left">
            <a href="/home/home.html">Joseph's site</a>
        </div>
        <div class="header-right">
            <a href="./../auth/login.html">LogIn/SignUp</a>
        </div>
    </header>
    <div class="grid-container">
        <nav id="sidebar" class="sidebar">
            <div class="nav-top">
                <a class="nav-item" href="./../home/home.html">Home</a>
                <a class="nav-item" href="./../tags/tags.html">Tags</a>
                <a class="nav-item" href="./../search/search.html">Search</a>
                <a class="nav-item" href="./../posts/createPost.html">Create</a>
                <a class="nav-item" href="./../profile/profile.html">Profile</a>
            </div>
            <div class="nav-bottom">
                <a class="nav-item" href="#">More</a>
            </div>
        </nav>
    </div>
</body>

</html>