.tags {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 720px;
    max-height: 100vh;
    background-color: #f5f5f5;
    color: #414850;
    overflow-y: auto;
}

.tags-title {
    position: sticky;
    display: flex;
    align-items: center;
    top: 0;
    height: 40px;
    padding: 20px 30px 20px;
    background-color: #f5f5f5;
    font-size: 24px;
}

.tags-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    gap: 10px;
}

.tags-container a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 0 20px;
    background-color: #434d58;
    font-size: 16px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.tags-container a:hover {
    color: #fffc68;
}

.tag-count {
    background-color: #4a98ff;
    padding: 2px 8px;
    border-radius: 12px;
    font-size: 14px;
    color: white;
}

.tag-count:hover {
    background-color: #60a5ff;
}

hr {
    border: none;
    border-top: 1px solid #4a98ff;
    margin: 3px 20px;
}